{% extends "base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block sidebar %}
<div class="row">
    {% if competences_list %}
        {% for competence in competences_list %}
            <p>{{ competence.name }}</p>
        {% endfor %}
    {% else %}
        <p>Pas de créneau</p>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% if slots_list %}
        {% for slot in slots_list %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ slot.competence }}</h5>
                        <p class="card-text">Activité : {{ slot.activity }}</p>
                        <p class="card-text">Date : {{ slot.date }}</p>
                        <p class="card-text">Personne ayant initié la demande : Anonyme</p>
                        <p class="card-text">Personne ayant proposé son aide : Anonyme</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Pas de créneau</p>
    {% endif %}
</div>
{% endblock %}